#lesson-content {
	max-width:100ch;
	background-color:#FDFDFD;
	padding:20px 20px 20px 20px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #888888;
	margin-bottom:20px;
	}
	
@media print { 

	@page {margin: 25mm;}
	
	#lesson-content {
		max-width: 100%;
		background-color:#FFF;
		padding: 0px 0px 0px 0px;
		box-shadow: 0px 0px 0px #888888;
		border: 0px solid #888888;
		}
		
	#lesson-content p, li, a {
		font-size:12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		}
		
	.videoWrapper {
		display:none;
		}
		
	.printnote {
		display:none;
		}
	
	}
	
#lesson-content h1, h2, h3, h4, h5 {
	font-family:Arial, Helvetica, sans-serif;
	color:#B22222;
	padding-top:12px;
	padding-bottom:0px;
	}
	
#lesson-content hr {
	display:none;
	}
	
#lesson-content h2 {
	border-bottom:1px solid #DCDCDC;
	}
	
#lesson-content h4 {
	font-size:18px;
	}
	
#lesson-content h5 {
	font-size:16px;
	}

#lesson-content p, li, a, blockquote {
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
#rubric-content p, li, a, blockquote {
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
#lesson-content td, th  {
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:5px;
	}
	
#lesson-content td li  {
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.sg-code {
	font-family: Courier New, Courier, monospace;
	}
	
td.answer_label label, .answer_text {
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
img.lesson {
	max-width:100%;
	width:auto;
	max-height:400px;
	}
	
img.hor {
	width:100%;
	}

img.vert {
	max-height:660px;
	}
	
img.decor {
	width:50%;
	}
	
img {
	margin-bottom:10px;
	}

.caption {
	font-size: 12pt;
	}
	
#lesson-content .figcaption {
	font-size: .9em;
	}
	
#lesson-content .androidfile {
	font-weight: bold;
	font-size: small; 
	padding-bottom: 0; 
	margin-bottom: 0;
	}
	
#lesson-content .snippet-filename {
	font-weight: bold;
	font-size: small; 
	padding-bottom: 0; 
	margin-bottom: 0;
	}

#lesson-content .fineprint {
	font-size: .9em; 
	padding-top:5px; 
	border-top: 1px solid #DCDCDC;
	}
	
blockquote p {
	font-size:14px;
	padding-bottom:14px;
	}
	
blockquote h3 {
	color:white;
	background-color:#B22222;
	padding:0px 10px 0px 10px;
	}
	
blockquote h4 {
	color:white;
	background-color:#B22222;
	padding:0px 10px 0px 10px;
	}
	
blockquote {
	border:1px solid rgba(0,0,0,0.2);
	border-radius:5px;
	background-color:#DCDCDC;
	}
	
hr {
	margin:0px;
	}
	
#lesson-content table {
    width: 100%;
    margin-bottom: 20px;
    border:1px solid rgba(0,0,0,0.2);
    }
    
caption {
	background-color: #fafafb;
    caption-side: bottom;
    text-align: left;
    color: #222;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    }

#lesson-content tr:nth-child(even) 
	{background: #F5F5F5}

#lesson-content tr:nth-child(odd) 
	{background: #FFF}
	
#lesson-content th {
	color:white;
	background-color:#871a1a;
	text-align:left;
	}
	
.sg-code {
	font-family: Courier New, Courier, monospace;
	}

.quiz, .question p {
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.ui-dialog {
	min-width:100ch;
	}
	
#lesson-content iframe {
	border: 1px solid black;
	}
	
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
	
img.printshow {
	display: none;
	}

.quoteblock {
	padding:10px 20px 10px 20px;
	background-color:#F8F8F8;
	border:1px solid #A8A8A8;
	}
	
#lesson-content p.quote {
	font-family: "Times New Roman", Georgia, Serif;
	font-size:18px;
	}
	
#lesson-content p.qsource {
	font-family: "Times New Roman", Georgia, Serif;
	font-size:16px;
	text-align:right;
	}